nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li
{
    float: left;
}
 nav li a
 {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
 } 
 nav li a:hover {
    background-color: rgb(115, 196, 139);
}


  body
{
   background-color: rgb(253, 245, 236); 
}
h1
{
    color: rgb(74, 207, 129);
	font-family: roboto;
	text-align: center;
}
p
{
font-family:'Times New Roman', Times, serif;
font-size: 18px;
line-height:2em;
}
.title
{
color: rgb(72, 48, 204);
font-size: 30px;
}
#top tr
{
background-color: rgb(150, 147, 147);
}
